INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
config/
configure
debian/autoreconf*
debian/files
debian/vyatta-interfaces
debian/libvyatta-interface-perl
debian/tmp
debian/vyatta-*-yang
debian/*.log
debian/*.substvars
src/*.o
src/.deps
src/.dirstamp
src/intf-get-flags
tests/*.log
tests/interface.trs
